@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic");
roboto = "Roboto", sans-serif

*
  margin 0
  padding 0

html,
body
  height 100%

body
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

img
  max-width 100%

.wrapper
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -55px
  padding 0

footer,
.push
  height 55px

.index
  margin-top 100px

h1, h2, h3, h4, h5, h6
  font-family roboto
  margin 0 0 10px 0
  font-weight 500
  
  &.purple
    color lighten(#6B519E, 5%)

  &.clean
    margin 0 !important

h1
  color #333
  line-height 1.3
  font-size 46px
  font-weight 700

h2
  font-size 32px
  
  &.faq
    color lighten(#201730, 5%)
    line-height 1.2

h3
  line-height 1.5
  font-size 28px
h4
  font-size 24px
h5
  font-size 20px
h6
  font-size 18px
  font-weight 700

a
  color lighten(#6B519E, 10%) !important
  
p
  line-height 1.8
  font-family roboto
  font-size 19px
  color #555
  margin-bottom 40px
  
  strong
    font-size 22px

p.clean
  margin 0

ul, ol
  line-height 1.5
  font-family roboto
  font-size 18px
  color #555
  margin 0 0 0 40px

  li
    margin 0 0 10px

.intro-list
  background #fff
  border-radius 4px
  padding 30px 30px 10px
  
ol.eight-reasons, ul.eight-reasons
  margin 0px 0 0 25px
  font-size 16px
  
  li
    border-bottom 1px solid #eee
    padding 4px 0 11px
    
    a
      .fa
        display none
        opacity .25
        font-size 16px
        margin-left 5px
      
      &:hover
        text-decoration none
        .fa
          display inline-block
    
    &:last-child
      border none

ul.eight-reasons
  list-style-type none
  margin 0
  
  li
    strong
      color #bbb
      margin-right 5px

a.button
  padding 16px 40px
  background #6b539c
  color #fff !important
  opacity 1 !important
  margin-top 20px
  font-size 20px
  border-radius 30px
  text-decoration none !important
  font-weight 700
  
  &:hover
    text-decoration none
    color white
    background lighten(#6b539c, 13%)
  
  &:active
    position relative
    top 1
    color white
    text-decoration none
  

.main-hero
  padding 0
  background url('../images/07.jpg')
  background-size cover
  background-position 50% 58% !important
  background-attachment fixed
  margin 0
  
  .container
    padding-top 60px
    padding-bottom 60px

  .screen
    height 100%
    width 100%
    background rgba(25,22,32,.5)
  
  .logo
    width 600px
    margin-bottom 50px

  h2
    margin 0
    padding 0
    font-size 24px
    font-weight 300
    line-height 1.6
    color white
  
  .intro
    padding 0 25px
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)
    .container
      padding-top 100px
      padding-bottom 120px 
    h2
      font-size 24px
  
  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) 
    h2
      font-size 30px
    
  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px)
    h2
      font-size 36px
       
.section
  margin 60px 0 60px
  
  &.light-bottom
    margin-bottom 60px
  &.light-top
    margin-top 60px
  &.no-top
    margin-top 0
  
  h3
    margin-top 100px
    
  h3.less-margin
    margin-top 40px
  
  .intro
    padding-right 50px
    
    h4
      font-weight 700
      font-size 28px
      margin-bottom 20px
  
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    margin 110px 0 100px

.drip-form
  padding 60px !important
  // background #f4f4f4
  background url('../images/07_small.jpg')
  background-size cover
  background-position 80% 50% !important
  border-radius 10px
  margin-bottom 130px
  
  h4
    margin-bottom 20px
    color white
  
  input[type=email]
    padding 28px 30px 27px
    border-radius 30px
    border none
    font-size 18px
    display block
    width 100%
    
  .submit
    padding 14px 20px
    background lighten(#6b539c, 10%)
    color #fff
    font-size 18px
    border-radius 30px
    border none
    font-weight 700
    margin-top 1px
    width 100%
    
    &:hover
      background lighten(#6b539c, 15%)

.testimony, .examples
  h2
    display inline-block
    margin 0 auto 40px
    font-size 38px

.testimony
  p.quote
    font-size 18px
    font-style oblique
    color #555
    padding-bottom 20px
    border-bottom 2px solid #eee
    margin-bottom 15px
  
  span.quote-name, span.quote-affil
    font-family roboto
    display block
  
  span.quote-name
    color #6B519E
    font-size 18px
    font-weight 700
  span.quote-affil
    opacity .6
    font-size 16px
    margin-bottom 30px

.examples
  margin-top 160px
  
  img
    border-top-right-radius 2px  
    border-top-left-radius 2px
    transition opacity .2s ease-in-out
    opacity 1
    
    &:hover
      opacity .8
      transition opacity .2s ease-in-out
    
  span.caption
    font-family roboto
    display block
    background #f4f4f4
    text-align center
    border-bottom-right-radius 2px  
    border-bottom-left-radius 2px
    padding 17px 20px
    position relative

    i
      position relative
      top 2px
      left 5px
      opacity .3
      font-size 18px
      // display none
    
    a
      color lighten(#3C2A56, 10%)
      font-size 16px
      text-decoration none
      
      &:hover
        i
          display inline-block
          opacity 1
.well
  background none
  border-radius 0
  border none
  border-top 1px solid #eee
  border-bottom 1px solid #eee
  box-shadow none 
  margin-top 20px
  p
    margin 0

.gray-full-box
  background #f8f8f8
  
footer
  width 100%
  background-color #fff
  height 55px
  padding-top 15px
  
  p
    font-size 13px
    margin-bottom 10px
    opacity .6

/*  Tablet  */
@media handheld, screen and (min-width: 768px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear none
  
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear left

/*  Medium Desktop  */
@media handheld, screen and (min-width: 992px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear left

/*  Large Desktop  */
@media handheld, screen and (min-width:1200px)
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1)
    clear left
